// Fonts
$main-font-family: Overpass;

// Misc
$global-border-radius: 3px;
$global-animation-duration: 0.2s;

// Colors
$primary-text-color: white;
$primary-color: #2E282A;
$secondary-color: #666666;
$accent-color: #AFB3F7;

$menu-color: #201a1b;
$sub-menu-color: #272224;