@import "styles/variables.scss";

.custom-button {
    position: relative;
    height: 35px;

    button {
        position: relative;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        color: $accent-color;

        background: linear-gradient(90deg, $accent-color 50%, transparent 50%);
        background-size: 200% auto;
        background-position: -100%;

        transition: all 0.2s, background calc($global-animation-duration * 2);

        border-radius: $global-border-radius;
        border: 2px solid $accent-color;

        &:hover {
            color: black;
            background-position: -200%;
            mix-blend-mode: screen;
            cursor: pointer;
        }

        &:active {
            filter: brightness(60%);
        }
    }
}